@font-face {
  font-family: "arctic";
  src: url("../public/fonts/arctic.woff") format("woff");
  src: url("../public/fonts/arctic.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
