.button-row.dark {
  color: var(--white);
}

.button-row {
  font-family: "founders";
  font-weight: 500;
  display: inline-flex;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.button-row .first .white-arrow,
.button-row .last svg {
  margin-left: 3px;
}

@media screen and (min-width: 769px) {
  .button-row {
    font-size: 15px;
  }
}
.button-row > div {
  position: relative;
  width: 250px;
  height: 44px;
  perspective: 1000px;
}
.button-row > div > span {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-25px) rotateX(-90deg);
  transition: transform 0.5s;
}
.button-row > div > span.first,
.button-row > div > span.last {
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 250px;
  height: 44px;
  position: absolute;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: flex;
  padding: 0 12px;
}
.button-row > div > span.last {
  background: #f0eeee;
  border: 1px solid #7d7a7a;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transform: rotateX(0deg) translateZ(22px);
}
.button-row > div > span.first {
  background: #0a0707;
  border: 1px solid #0a0707;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #f0eeee;
  transform: rotateX(-90deg) translateZ(22px);
}

span.first > span,
span.last > span {
  top: 2px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.button-row:hover > div > span.last {
  transform: rotateX(90deg) translateZ(22px);
}

.button-row:hover > div > span.first {
  transform: rotateX(0deg) translateZ(22px);
}

.white-arrow {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px #7d7a7a;
}

@media screen and (max-width: 768px) {
  .button-row > div {
    max-width: 200px;
  }
  .button-row > div > span.first,
  .button-row > div > span.last {
    width: 100%;
  }
}

.homepage-first-button > div > span.last {
  background: transparent;
}

/* dark button */
.button-row.dark > div > span.last,
.dark-mode .button-row.back-to-top > div > span.last,
.projects-page .button-row.back-to-top > div > span.last {
  background: #0a0707;
}

.button-row.dark > div > span.first,
.dark-mode .button-row.back-to-top > div > span.first,
.projects-page .button-row.back-to-top > div > span.first {
  background: #f0eeee;
  color: #0a0707;
}

.dark-mode .button-row.back-to-top > div > span.last svg path:nth-of-type(1),
.projects-page
  .button-row.back-to-top
  > div
  > span.last
  svg
  path:nth-of-type(1) {
  stroke: var(--white);
}

.dark-mode .button-row.back-to-top > div > span.last svg path:nth-of-type(2),
.projects-page
  .button-row.back-to-top
  > div
  > span.last
  svg
  path:nth-of-type(2) {
  fill: var(--white);
}

.dark-mode .button-row.back-to-top > div > span.first svg path:nth-of-type(1),
.projects-page
  .button-row.back-to-top
  > div
  > span.first
  svg
  path:nth-of-type(1) {
  stroke: var(--black);
}

.dark-mode .button-row.back-to-top > div > span.first svg path:nth-of-type(2),
.projects-page
  .button-row.back-to-top
  > div
  > span.first
  svg
  path:nth-of-type(2) {
  fill: var(--black);
}

.dark-mode .back-to-top,
.projects-page .back-to-top {
  color: var(--white);
}

.back-to-top,
.apply-button {
  max-width: 130px;
}

.back-to-top > div > span.first,
.back-to-top > div > span.last,
.apply-button > div > span.first,
.apply-button > div > span.last {
  width: 100%;
}

.back-to-top svg {
  transform: rotate(-90deg);
}

.back-to-top:hover {
  cursor: pointer;
}

/* Footer Begins */
footer h3 {
  font-family: "arctic";
  color: var(--mediumGrey);
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
}

@media screen and (min-width: 769px) {
  footer h3 {
    font-size: 54px;
    line-height: 56px;
  }
}

footer .small-subhead {
  text-transform: uppercase;
}

footer p,
footer a {
  color: var(--mediumGrey);
  transition: color 250ms ease;
}

footer a:hover {
  color: var(--black);
}

.dark-mode footer a:hover {
  color: var(--lightGrey) !important;
}

.lower-footer a {
  text-transform: uppercase;
}

.lower-footer a span {
  position: relative;
  display: inline-block;
}

.lower-footer a span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.lower-footer a:hover span:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.dark-mode .lower-footer a:hover span:after {
  background-color: var(--white);
}

@media screen and (min-width: 769px) {
  footer .footer-copyright {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 768px) {
  footer .small-subhead {
    font-size: 12px;
  }
}

/* Footer Ends */

/* Header Begins */
header a {
  color: var(--mediumGrey);
  font-weight: 500;
  font-size: 24px;
  line-height: 8px;
  position: relative;
  display: inline-block;
}

header a span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

header a:hover span:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.dark-mode header a span:after {
  background-color: var(--white);
}

header a span {
  position: relative;
}

.overlay-header,
.overlay-nav-links,
.overlay-footer {
  opacity: 0;
  transform: translateY(15px);
  transition: 550ms ease;
}

.overlay-header {
  transition-delay: 250ms;
}

.overlay-nav-links {
  transition-delay: 350ms;
}

.overlay-footer {
  transition-delay: 450ms;
}

header .mobile-overlay {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  header .mobile-overlay {
    transition: 400ms ease;
  }
  .mobile-menu-active .mobile-inner {
    transform: translate3d(0, 0, 0) !important;
  }
  .remove-bg .mobile-inner {
    background: rgba(240, 238, 238, 0);
    backdrop-filter: none;
  }
  .dark-mode .remove-bg .mobile-inner {
    background: rgba(240, 238, 238, 0);
  }
}

.mobile-menu-active {
  height: 100vh;
  background-color: var(--black);
}

header.mobile-menu-active .mobile-overlay {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-active .mobile-overlay .overlay-header,
.mobile-menu-active .mobile-overlay .overlay-nav-links,
.mobile-menu-active .mobile-overlay .overlay-footer {
  opacity: 1;
  transform: translateY(0px);
}

/* Additional Projects */
.additional-project-container {
  margin-top: 150px;
}

.additional-project-header p {
  color: var(--black);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.dark-mode .additional-project-header p {
  color: var(--white);
}

.additional-project:hover {
  cursor: pointer;
}

.additional-project:hover .name {
  color: var(--black);
}

.additional-project-outer {
  max-height: 40px;
  position: relative;
  overflow: hidden;
  transition: max-height 500ms ease;
}

@media screen and (min-width: 768px) {
  .additional-project-outer {
    max-height: 60px;
  }
}

.additional-project-outer.open {
  max-height: 500px;
}

.additional-project {
  padding-top: 18px;
  margin-bottom: 20px;
}

.additional-project p {
  color: var(--mediumGrey);
}

.additional-project p.name {
  font-weight: 500;
}

.additional-project-container .icon {
  color: var(--mediumGrey);
  position: absolute;
  right: 20px;
  top: 15px;
}

.swipable-carousel {
  cursor: grab;
}

.swipable-carousel:active {
  cursor: grabbing;
}

.modal-carousel {
  position: absolute;
  bottom: 0;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 90vh;
  background: black;
  z-index: 500;
  bottom: 0;
  left: 0;
  transform: translateY(90vh);
  transition: transform 750ms ease;
}

.modal-container.active {
  transform: translateY(0vh);
}

.modal-container .swiper-slide {
  width: auto;
}

.modal-container .swiper {
  overflow: visible;
}

.modal-container .swiper-pagination {
  top: -60px;
  bottom: auto !important;
}

.modal-container .swiper-pagination-bullet {
  background: var(--lightGrey);
}

.modal-container .swiper-pagination-bullet-active {
  background: var(--white);
}

.modal-container h4 {
  font-family: "founders";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-decoration: underline;
  padding: 40px 20px;
  color: var(--white);
}

.modal-header span {
  width: 20px;
  height: 20px;
  position: relative;
  padding-right: 70px;
  z-index: 100;
}

.modal-header span:hover {
  cursor: pointer;
}

.modal-carousel:hover {
  cursor: grab;
}

.modal-carousel:active {
  cursor: grabbing;
}

.modal-header span:before,
.modal-header span:after {
  content: "";
  width: 20px;
  height: 1px;
  background: var(--white);
  display: block;
  top: 10px;
}

.modal-header span:before {
  position: absolute;
  transform: rotate(45deg);
}

.modal-header span:after {
  position: absolute;
  transform: rotate(-45deg);
}

.headshotSegment:hover {
  cursor: auto !important;
}

.headshotSegment:hover .leader-title {
  text-decoration: none !important;
}

.headshot {
  overflow: hidden;
}

.headshot:hover {
  cursor: pointer;
}

.headshot:hover .leader-title {
  text-decoration: underline;
}

.headshot-active .headshot {
  opacity: 0.6;
  transition: opacity 750ms ease;
}

.headshot-top-content {
  margin-bottom: 20px;
}

.headshot .headshot-content p {
  margin-bottom: 10px;
}

.headshot-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 750ms ease;
}

.headshot.open-headshot .headshot-content {
  max-height: 1000px;
}

.headshot.open-headshot {
  opacity: 1;
  padding-bottom: 40px;
}
