@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 3;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 4;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@font-face {
  font-family: "arctic";
  src: url("../public/fonts/arctic.woff") format("woff");
  src: url("../public/fonts/arctic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "founders";
  src: url("../public/fonts/foundersMedium.woff") format("woff");
  src: url("../public/fonts/foundersMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "founders";
  src: url("../public/fonts/foundersRegular.woff") format("woff");
  src: url("../public/fonts/foundersRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --black: #0a0707;
  --darkestGrey: #2d2a2a;
  --darkGrey: #555252;
  --mediumGrey: #7d7a7a;
  --lightGrey: #b9b6b6;
  --lightestGrey: #dcdada;
  --white: #f0eeee;
  --red: #c82814;
}

.line-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.dark-mode .line-container div {
  background-color: var(--mediumGrey);
}

.line-container div {
  width: 1px;
  height: 100%;
  background-color: var(--lightGrey);
  position: absolute;
  transform: scaleY(0);
  transition: transform 1s ease;
  transform-origin: top;
}

.line-container.active div {
  transform: scaleY(1);
  transition-delay: 1s;
}

.line-container div:nth-of-type(1) {
  left: 25%;
}

.line-container div:nth-of-type(2) {
  left: 50%;
}

.line-container div:nth-of-type(3) {
  left: 75%;
}

.homepage,
.sector {
  background-color: var(--white);
  transition: background-color 500ms ease-out;
}

.homepage.dark-mode,
.sector.dark-mode,
.projects-page.dark-mode,
.single-project {
  background-color: var(--black);
  transition: background-color 500ms ease-out;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode button,
.dark-mode a:not(.button-row):not(header a) {
  color: var(--white);
  transition: color 500ms ease-out;
}

.dark-mode svg.logo path {
  fill: var(--white);
  transition: color 500ms ease-out;
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 100px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a:not(.button-row):not(header a):not(footer a) {
  color: var(--black);
  transition: color 500ms ease-out;
}

/* HEADER STUFF */

header a {
  transition: 250ms ease;
}

header a.active {
  color: var(--black);
  text-decoration: underline;
}

header a:hover {
  color: var(--black);
  text-decoration: underline;
}

.dark-mode header a.active {
  color: var(--white);
  text-decoration: underline;
}

.dark-mode header a:hover {
  color: var(--white);
  text-decoration: underline;
}

header svg.logo path {
  fill: var(--black);
  transition: fill 500ms ease-out;
}

header button {
  font-family: "founders";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--black);
  width: 100%;
  height: 100%;
  z-index: 100;
}

header svg.overlay-logo path {
  fill: var(--lightGrey);
  width: 100%;
  height: auto;
}

svg.overlay-logo {
  height: auto;
}

button.overlay-close {
  color: var(--lightGrey);
}

.mobile-list a {
  font-size: 50px;
  line-height: 54px;
  color: var(--white);
  font-weight: 400;
}

.overlay-header {
  max-height: 140px;
  padding-top: 15px;
}

.overlay-footer h3 {
  font-family: "arctic";
  color: var(--mediumGrey);
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
}

.social-links a,
.copyright p {
  font-family: "founders";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--lightGrey);
}

/* SCROLL STUFF */
.scroll-item {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s ease;
}

.scroll-item.active {
  opacity: 1;
  transform: translateY(0);
}

/* CAROUSEL STUFF */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.label-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: space-between;
  z-index: 100;
}

.label-container > div {
  width: 25%;
  text-align: left;
}

.label-container > div p {
  padding: 15px 0 0 20px;
}

.slider-outer {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.pillar-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: space-evenly;
  z-index: 100;
}

.pillar-container div {
  width: 20px;
  height: 100%;
  background: #f0eeee;
  right: 5px;
  position: relative;
}

.pillar-container div:nth-of-type(2) {
  right: 10px;
}

.pillar-container div:nth-of-type(3) {
  right: 15px;
}

.dark-mode .pillar-container div {
  background: var(--black);
}

.homepage-carousel {
  width: 100%;
  margin: 0 auto;
}

.img-container {
  max-height: 620px;
  background-size: cover;
}

.carousel-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
}

.img-container img {
  transform: translateY(-50%);
  margin-top: 320px;
}

/* END CAROUSEL STUFF */

html,
body {
  background: #f0eeee;
}

h1 {
  font-family: "arctic";
  font-size: 30px;
  line-height: 30px;
}

h4 {
  font-family: "founders";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

p,
a {
  font-family: "founders";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 90px;
    line-height: 90px;
  }

  h2 {
    font-size: 84px;
    line-height: 76px;
  }

  h3 {
    font-size: 50px;
    line-height: 54px;
  }

  h4 {
    font-size: 34px;
    line-height: 38px;
  }

  p,
  a {
    font-size: 20px;
    line-height: 26px;
  }
}

.small-subhead {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

p.large {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: "founders";
  -webkit-font-smoothing: antialiased;
}

/* Services Page Begins */
.services-page .hero-section h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  z-index: 1;
  line-height: 66px;
}

.services-page .hero-section p {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.services-page .hero-section .menu-panel {
  display: block;
  height: 750px;
}

.services-page .hero-section .menu-panel .inner-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  height: 100%;
}

.services-page .hero-section .item-wrap:nth-of-type(3) .menu-panel .inner-menu {
  justify-content: end;
}

.services-page .button-row {
  margin-top: 40px;
}

.services-page li:not(:last-of-type) {
  list-style: disc;
  margin-bottom: 16px;
}

/* Services Page Ends */

/* Projects Page Begins */
.breadcrumb svg {
  position: relative;
  top: 5px;
}

.projects-page .breadcrumb .breadcrumb-sector {
  color: var(--mediumGrey);
}

.projects-page .breadcrumb .breadcrumb-sector:hover {
  color: var(--white);
}

.breadcrumb p {
  color: var(--white);
}

.breadcrumb span {
  margin: 0 10px;
}

.projects-page {
  transition: background-color 500ms ease-out;
}

.project-text-blurb ul {
  color: var(--white);
  list-style: disc;
  margin-bottom: 20px;
}

.project-text-blurb li {
  margin-left: 30px;
}

.project-text-blurb h1,
.project-text-blurb h2,
.project-text-blurb h3,
.project-text-blurb h4,
.project-text-blurb h5,
.project-text-blurb h6 {
  margin-bottom: 10px;
}

.projects-page .project-text-blurb p {
  margin-bottom: 15px;
}

/* theres a bug with dark mode so had to do this manually idk why FML */
.projects-page h1,
.projects-page h2,
.projects-page h3,
.projects-page h4,
.projects-page h5,
.projects-page h6,
.projects-page p,
.projects-page button,
.projects-page a:not(.button-row):not(header a) {
  color: var(--white);
  transition: color 500ms ease-out;
}

.projects-page svg.logo path {
  fill: var(--white);
  transition: color 500ms ease-out;
}

.projects-page .filter-select {
  border-bottom: 1px solid var(--white);
}

.projects-page .filter-select svg path {
  fill: var(--white);
}

/* .projects-page h1,
.projects-page h2,
.projects-page h3,
.projects-page h4,
.projects-page h5,
.projects-page h6,
.projects-page p,
.projects-page a:not(.button-row):not(header a) {
  color: var(--white);
  transition: color 500ms ease-out;
} */

/* .projects-page svg.logo path {
  fill: var(--white);
  transition: color 500ms ease-out;
} */

.list-image {
  position: absolute;
  left: 25%;
  top: -40px;
  opacity: 0;
  transition: opacity 350ms ease;
}

.project-wrapper-list:hover .list-image {
  opacity: 1;
}

.detail-item {
  max-width: 200px;
}

@media screen and (min-width: 769px) {
  .projects-page sup,
  .sector-page sup {
    font-size: 20px;
    top: -2em;
  }
}

.projects-page header a.active {
  color: var(--white);
  text-decoration: underline;
}

.projects-page header a:hover {
  color: var(--white);
  text-decoration: underline;
}

.filter-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 320px;
}

.filter-select .filter-select span {
  color: var(--black);
}

.filter-select {
  border-bottom: 1px solid var(--black);
}

.filter-select svg path {
  fill: var(--black);
}

.dark-mode .filter-select .dark-mode .filter-select span {
  color: var(--lightGrey);
}

.dark-mode .filter-select svg path {
  fill: var(--white);
}

.dark-mode .filter-select {
  border-bottom: 1px solid var(--white);
}

.projects-page .filter-select,
.sector-page .filter-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "founders";
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  height: 25px;
}

.filter-button {
  width: 100%;
  max-width: 165px;
  border: 1px solid var(--darkestGrey);
  color: var(--white);
  padding: 5px 0;
  border-radius: 4px;
}

.filter-button.active {
  box-shadow: 0px 0px 5px 3px #7d7a7a;
}

.filter-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  background: var(--darkestGrey);
  transition: opacity 250ms ease;
  z-index: 100;
}

.filter-dropdown.open {
  opacity: 1;
  visibility: visible;
}

.filter-dropdown .sector {
  font-family: "founders";
  font-weight: 500;
  border-top: 1px solid var(--mediumGrey);
  width: 100%;
  display: block;
  padding: 7px 0 2px 25px;
  color: var(--lightGrey) !important;
  background: var(--darkestGrey);
}

.filter-dropdown li a {
  color: var(--lightGrey) !important;
  transition: 150ms ease;
}

.filter-dropdown li a:hover {
  color: var(--white) !important;
}

.filter-dropdown .specialties li {
  border-top: 1px solid var(--mediumGrey);
  padding: 6px 0 3px;
}

.filter-dropdown .specialties li a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 55px;
}

/* Filtered sector stuff */
.filtered-project .project-name {
  font-family: "Founders";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--lightGrey);
}

.filtered-project .project-specialty {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--lightGrey);
}

/* Projects Page Ends */

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  margin-bottom: 20px;
}

.article .body-large {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.article .body-copy p {
  margin-bottom: 24px;
}
.article .body-copy img {
  margin-top: 24px;
  margin-bottom: 48px;
}

.articles .tags h4 {
  margin: 16px 36px;
}

.slick-dots li button:before {
  color: white !important;
}

.slick-dots li {
  margin: 0 !important;
}

.quote-text p {
  font-family: "founders";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (min-width: 769px) {
  .quote-text p {
    font-size: 34px;
    line-height: 38px;
  }
}

.concluding-statement a {
  text-decoration: underline;
}

.pagination a.prev svg {
  transform: rotate(180deg);
}

.pagination .button-row > div {
  width: 90%;
}

.pagination .button-row > div > span.first,
.pagination .button-row > div > span.last {
  width: 100%;
}

.pagination p {
  color: var(--lightGrey);
}
